<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
        <li class="nav-item active" routerlinkActive="active">
          <a class="nav-link" [routerLink]="['/member']">Matches <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerlinkActive="active">
          <a class="nav-link" [routerLink]="['/list']">List</a>
        </li>
        <li class="nav-item" routerlinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']" tabindex="-1" >Messages</a>
        </li>
      
      </ul>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light"  dropdownToggle style="cursor: pointer;">
           Welcome {{ authService.decodedToken.unique_name }}
       </a>
        <div class="dropdown-menu" *dropdownMenu style="margin-top: 16px;">
          <a style="cursor: pointer;" class="dropdown-item"><i class="fa fa-user"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a style="cursor: pointer;" class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>

     


      <form *ngIf="!loggedIn()" #loginForm="ngForm" style="margin-left:500px" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm -2" type="text" required name="userName" placeholder="User Name" aria-label="Search" [(ngModel)]="model.userName">
       &nbsp; <input class="form-control mr-sm-2" type="password" required name="password" placeholder="Password" aria-label="Search"  [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
  </nav>